.rules {
  padding: 0 0 0 20px;

  color: #203072;

  .item {
    margin: 10px 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;

    color: #000000;
  }
}
