.root {
  padding: 10px;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #c4c4c4;

  grid-area: about;

  .title {
    margin: 0 0 10px;
  }
}

.text {
  margin: 6px 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;

  color: #000000;

  background-color: rgba($color: #fff, $alpha: 0.8);
}
