.root {
  grid-area: title;
}

.description {
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  color: #000000;

  background-color: rgba($color: #fff, $alpha: 0.8);
}
