.root {
  margin: 0 -10px;
  padding: 20px 10px;

  border-bottom: 1px solid #c4c4c4;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;

  .image {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
  }

  .name {
    margin: 0;
    margin-left: 10px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    color: #000000;
  }
}

.links {
  margin: 0 0 0 10px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;

  .item {
    margin: 0 0 0 10px;
    padding-bottom: 2px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;

    color: #000000;

    position: relative;
    transition: all 0.3s ease-in-out;

    &::after {
      content: "";
      height: 1px;
      width: 0;

      background-color: #000000;

      position: absolute;
      left: 50%;
      bottom: 0;
      transition: all 0.3s ease-in-out;
      transform: translate(-50%, 0);
    }

    &:hover {
      opacity: 0.8;

      &::after {
        width: 100%;
      }
    }

    &.active {
      color: #203072;

      &::after {
        width: 100%;

        background-color: #203072;
      }
    }
  }
}
