.root {
  padding: 20px 0;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
}

.name {
  margin: 0;
  margin-left: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  color: #000000;
}
