.root {
  margin: 0 -10px;
  padding: 20px 10px;
  border-top: 1px solid #c4c4c4;
}

.copyright {
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;

  color: #c4c4c4;
}
